<template>
  <div class="h-dvh">
    <div class="flex flex-col space-y-2 items-center place-content-end h-1/2">
      <img
        src="./../../public/assets/images/header_banner.png"
        alt="Logo LPNM"
        class="rounded-full h-56"
      />
      <div class="flex flex-col items-center">
        <span class="text-5xl">LPNM</span>
        <span class="text-xs">Les Petits Nains de la Montagne</span>
      </div>
    </div>
    <div class="flex flex-col items-center place-content-center h-1/2">
      <form @submit.prevent="handleSubmit" class="space-y-3 w-full">
        <AInput
          v-model.trim="form.app_user_email"
          label="Adresse mail"
          placeholder="Adresse mail"
          :errors="emailError ? [emailError] : []"
        />
        <AInput
          v-model.trim="form.app_user_password"
          :type="showPassword ? 'text' : 'password'"
          label="Ton mot de passe"
          placeholder="Mot de passe"
          :errors="passwordError ? [passwordError] : []"
        >
          <template #icon>
            <Icon
              class="h-5 w-5 absolute right-3 top-1/2 transform -translate-y-1/2 cursor-pointer"
              :name="showPassword ? 'heroicons:eye' : 'heroicons:eye-slash'"
              @click.prevent="showPassword = !showPassword"
            />
          </template>
        </AInput>
        <div class="pt-4">
          <AButton
            variant="primary"
            size="lg"
            block
            :loading="isLoading"
            @click.prevent="handleSubmit"
          >
            Me connecter
          </AButton>
        </div>
      </form>
      <div v-if="errorMessage" class="text-red-500">{{ errorMessage }}</div>
      <div class="absolute bottom-6">
        <div class="flex gap-2">
          <span>Nouveau dans la famille ?</span>
          <NuxtLink :to="{ name: 'auth-register' }" class="text-primary">
            Crée ton compte !
          </NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref } from "vue";
import { useRouter } from "vue-router";
import { useAuthStore } from "@/stores/auth";
import AButton from "~/components/AButton.vue";
import AInput from "~/components/AInput.vue";

definePageMeta({
  name: "auth-login",
});

const form = ref({
  app_user_email: "",
  app_user_password: "",
});

const emailError = ref<string | null>(null);
const passwordError = ref<string | null>(null);
const errorMessage = ref<string | null>(null);
const showPassword = ref(false);
const isLoading = ref(false);
const router = useRouter();
const authStore = useAuthStore();

const handleSubmit = async () => {
  if (!emailError.value && !passwordError.value && !errorMessage.value) {
    isLoading.value = true;
    try {
      await authStore.loginUser(
        form.value.app_user_email,
        form.value.app_user_password
      );
      isLoading.value = false;
      router.push({ name: "home" }); // Rediriger vers la page d'accueil ou une autre page après la connexion réussie
    } catch (error: any) {
      isLoading.value = false;
      console.error("Erreur lors de la connexion :", error);
      if (error.code === "auth/user-not-found") {
        errorMessage.value =
          "Aucun utilisateur trouvé avec cette adresse e-mail.";
      } else if (error.code === "auth/wrong-password") {
        errorMessage.value = "Mot de passe incorrect. Veuillez réessayer.";
      } else {
        errorMessage.value =
          "Une erreur est survenue lors de la connexion. Veuillez réessayer.";
      }
    }
  }
};
</script>
