<template>
  <div class="h-dvh">
    <div
      class="flex flex-col space-y-2 items-center place-content-center h-1/3"
    >
      <img
        src="./../../public/assets/images/header_banner.png"
        alt="Logo LPNM"
        class="rounded-full h-24"
      />
      <div class="flex flex-col items-center">
        <span class="text-5xl">LPNM</span>
        <span class="text-xs">Les Petits Nains de la Montagne</span>
      </div>
    </div>
    <div class="flex flex-col items-center place-content-center">
      <form @submit.prevent="handleSubmit" class="space-y-3 w-full pt-32">
        <div class="grid grid-cols-2 gap-4">
          <AInput
            v-model.trim="form.first_name"
            label="Prénom"
            placeholder="Prénom"
            :errors="v$.first_name.$errors.map((error) => error.$message)"
            @blur="validateField('first_name')"
          />
          <AInput
            v-model.trim="form.last_name"
            label="Nom"
            placeholder="Nom"
            :errors="v$.last_name.$errors.map((error) => error.$message)"
            @blur="validateField('last_name')"
          />
        </div>
        <AInput
          v-model.trim="form.pseudo"
          label="Pseudo"
          placeholder="Pseudo"
          :errors="v$.pseudo.$errors.map((error) => error.$message)"
          @blur="validateField('pseudo')"
        />
        <AInput
          v-model.trim="form.email"
          label="Adresse mail"
          placeholder="Adresse mail"
          :errors="
            v$.email.$errors
              .map((error) => error.$message)
              .concat(
                authStore.emailAlreadyTakenError
                  ? [authStore.emailAlreadyTakenError]
                  : []
              )
          "
          @blur="validateField('email')"
        />
        <AInput
          v-model.trim="form.password"
          :type="showPassword ? 'text' : 'password'"
          :errors="v$.password.$errors.map((error) => error.$message)"
          label="Mot de passe"
          placeholder="Mot de passe"
          @blur="validateField('password')"
        >
          <template #icon>
            <Icon
              class="h-5 w-5 absolute right-3 top-1/2 transform -translate-y-1/2 cursor-pointer"
              :name="showPassword ? 'heroicons:eye' : 'heroicons:eye-slash'"
              @click.prevent="showPassword = !showPassword"
            />
          </template>
        </AInput>
        <AInput
          v-model.trim="form.password_confirm"
          :type="showPassword ? 'text' : 'password'"
          :errors="v$.password_confirm.$errors.map((error) => error.$message)"
          label="Confirmer le mot de passe"
          placeholder="Confirmer le mot de passe"
          @blur="validateField('password_confirm')"
        >
          <template #icon>
            <Icon
              class="h-5 w-5 absolute right-3 top-1/2 transform -translate-y-1/2 cursor-pointer"
              :name="showPassword ? 'heroicons:eye' : 'heroicons:eye-slash'"
              @click.prevent="showPassword = !showPassword"
            />
          </template>
        </AInput>
        <div class="pt-4">
          <AButton
            variant="primary"
            size="lg"
            block
            :loading="authStore.loading"
            @click.prevent="handleSubmit"
          >
            Créer mon compte
          </AButton>
        </div>
      </form>
      <div
        v-if="authStore.authError && !authStore.emailAlreadyTakenError"
        class="text-red-500 mt-4"
      >
        {{ authStore.authError }}
      </div>
      <div class="absolute bottom-6">
        <div class="flex gap-2">
          <span>Déjà membre ?</span>
          <NuxtLink :to="{ name: 'auth-login' }" class="text-primary">
            Connecte-toi !
          </NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, watch, computed } from "vue";
import { useRouter } from "vue-router";
import { useAuthStore } from "@/stores/auth";
import { useVuelidate } from "@vuelidate/core";
import type { User } from "@/types/users";
import AButton from "@/components/AButton.vue";
import AInput from "@/components/AInput.vue";
import {
  requiredValidator,
  emailValidator,
  passwordMinLengthValidator,
  sameAsPasswordValidator,
} from "@/composables/useValidation";

definePageMeta({
  name: "auth-register",
});

const form = ref({
  first_name: "",
  last_name: "",
  pseudo: "",
  email: "",
  password: "",
  password_confirm: "",
});

const passwordRef = computed(() => form.value.password);

const rules = computed(() => ({
  first_name: { required: requiredValidator },
  last_name: { required: requiredValidator },
  pseudo: {},
  email: { required: requiredValidator, email: emailValidator },
  password: {
    required: requiredValidator,
    minLength: passwordMinLengthValidator,
  },
  password_confirm: {
    required: requiredValidator,
    sameAs: sameAsPasswordValidator(passwordRef),
  },
}));

const v$ = useVuelidate(rules, form);

const showPassword = ref(false);

const router = useRouter();
const authStore = useAuthStore();

watch(
  () => authStore.emailAlreadyTakenError,
  (newError) => {
    if (newError) {
      v$.value.email.$touch();
    }
  }
);

const validateField = (field: string) => {
  v$.value[field].$touch();
};

const handleSubmit = async () => {
  v$.value.$touch();
  if (v$.value.$invalid) return;

  try {
    const newUser: Omit<User, "id" | "created_at" | "updated_at"> = {
      first_name: form.value.first_name,
      last_name: form.value.last_name,
      pseudo: form.value.pseudo,
      email: form.value.email,
      password: form.value.password,
    };

    await authStore.registerUser(newUser);

    alert(`Formulaire soumis! Bonjour, ${form.value.first_name}!`);
    router.push("/auth/login"); // Rediriger vers la page de connexion
  } catch (error) {
    console.error("L'utilisateur n'a pas pu être ajouté", error);
  }
};
</script>
