<!-- layouts/default.vue -->
<template>
  <div class="relative min-h-screen text-light">
    <!-- Header -->
    <Header v-show="showHeader" class="relative z-10" />

    <!-- Contenu principal -->
    <main class="relative z-10 px-6">
      <slot />
    </main>

    <!-- Footer -->
    <Footer v-show="showNavigation" class="fixed bottom-0 left-0 z-20 px-6" />
  </div>
</template>

<script lang="ts" setup>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

const route = useRoute();
const showHeader = ref(true);
const showNavigation = ref(true);

watchEffect(() => {
  showHeader.value = !route.path.includes("/auth");
  showNavigation.value =
    !route.path.includes("/game") &&
    !route.path.includes("/auth/login") &&
    !route.path.includes("/auth/register");
});
</script>
