<template>
  <div v-if="isAuthenticated">Bienvenue sur la page d'accueil</div>
  <div v-else>Redirection vers la page de connexion...</div>
</template>

<script lang="ts" setup>
import { ref, onMounted } from "vue";
import { useRouter } from "vue-router";
import { useAuthStore } from "@/stores/auth";

definePageMeta({
  name: "home",
});

const router = useRouter();
const authStore = useAuthStore();
const isAuthenticated = ref(false);

onMounted(() => {
  authStore.init(); // Initialize the store
  if (!authStore.user) {
    router.push("/auth/login");
  } else {
    isAuthenticated.value = true;
  }
});
</script>
