<template>
  <div>
    <h1>Mon profil</h1>
    <AButton
      variant="error"
      size="md"
      @click="handleLogout"
      :loading="isLoading"
    >
      Me déconnecter
    </AButton>
    <div v-if="isLoading">Déconnexion en cours...</div>
  </div>
</template>

<script lang="ts" setup>
import AButton from "~/components/AButton.vue";
import { useRouter } from "vue-router";
import { ref } from "vue";
import { useAuthStore } from "@/stores/auth";

const router = useRouter();
const { logoutUser } = useAuthStore();
const isLoading = ref(false);
const delay = ref(2000); // Délai de 2 secondes

const handleLogout = async () => {
  try {
    await logoutUser();
    setTimeout(() => {
      router.push("/auth/login"); // Rediriger vers la page de connexion après la déconnexion
    }, delay.value);
  } catch (error) {
    console.error("Error logging out:", error);
  }
};
</script>

<style scoped>
/* Styles pour le bouton et la page */
</style>
