<template>
  <component
    :is="is"
    :href="href"
    :to="to"
    :class="buttonClasses"
    type="button"
    :disabled="disabled || loading"
    @click="handleClick"
  >
    <span v-if="loading" class="spinner-border spinner-border-sm"></span>
    <span v-else><slot /></span>
  </component>
</template>

<script lang="ts" setup>
import type { RouteLocationRaw } from "vue-router";

interface Props {
  variant?:
    | "primary"
    | "secondary"
    | "accent"
    | "info"
    | "success"
    | "warning"
    | "error";
  size?: "xs" | "sm" | "md" | "lg";
  href?: string;
  to?: RouteLocationRaw;
  block?: boolean;
  disabled?: boolean;
  loading?: boolean;
}

interface Emits {
  (e: "click", data: MouseEvent): void;
}

const props = defineProps<Props>();
const emits = defineEmits<Emits>();

const is = computed(() => {
  return props.href ? "a" : props.to ? resolveComponent("NuxtLink") : "button";
});

const buttonClasses = computed(() => ({
  "bg-gradient-to-r from-primary to-secondary text-light focus_ring-primary rounded-full":
    props.variant === "primary",
  "bg-secondary text-text-color !border-border-light focus_ring-white":
    props.variant === "secondary",
  "bg-accent text-light focus_ring-accent": props.variant === "accent",
  "bg-info text-light focus_ring-info": props.variant === "info",
  "bg-success text-light focus_ring-success": props.variant === "success",
  "bg-warning text-light focus_ring-warning": props.variant === "warning",
  "bg-error text-white focus_ring-error rounded-full":
    props.variant === "error",
  "px-3 py-1.5": props.size === "xs",
  "p-2": props.size === "sm",
  "px-4 py-2": props.size === "md",
  "px-6 py-2.5": props.size === "lg",
  "text-xs": props.size === "xs",
  "text-sm": props.size === "sm",
  "text-base": props.size === "md",
  "text-lg": props.size === "lg",
  "leading-4": props.size === "sm",
  "w-full": props.block,
  "cursor-wait": props.loading,
}));

const handleClick = (e: MouseEvent) => {
  if (props.loading) {
    e.preventDefault();
    e.stopPropagation();
    return;
  }
  emits("click", e);
};
</script>

<style scoped>
.spinner-border {
  border: 2px solid transparent;
  border-top-color: currentColor;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
</style>

Je vais te joindre un autre code, saurais-tu me le vérifier et me le compléter
au besoin stp ? J'aimerais rassembler le design des liens et des boutons :
