<template>
  <div class="a-input relative">
    <div class="relative flex flex-col">
      <input
        :id="label"
        :type="type"
        :value="modelValue"
        :placeholder="isFocused ? '' : placeholder"
        :disabled="disabled"
        v-bind="$attrs"
        @input="handleInput"
        @blur="handleBlur"
        @focus="handleFocus"
        :class="[
          'px-4 py-2 h-11 bg-neutral-dark text-base border rounded-md ease-out focus:outline-none',
          {
            'border border-non-selected/20': !isFocused && errors.length === 0,
            'border border-primary': isFocused,
            'border-red-500': errors.length > 0,
          },
        ]"
      />
      <div class="absolute right-3 top-1/2 transform -translate-y-1/2">
        <slot name="icon"></slot>
      </div>
    </div>

    <label
      v-if="label"
      :class="[
        'absolute top-[-10px] left-2 text-xs opacity-0 text-non-selected bg-dark ease-in-out pb-1 px-2 rounded-sm',
        { 'opacity-100': isFocused },
      ]"
    >
      {{ placeholder }}
    </label>
    <p v-if="errors.length > 0" class="text-red-500 text-sm">
      {{ errors[0].$message || errors[0] }}
    </p>
  </div>
</template>

<script lang="ts" setup>
import { ref } from "vue";

interface Props {
  modelValue: any;
  label?: string;
  noLabel?: boolean;
  type?: string;
  placeholder?: string;
  errors?: any[];
  loading?: boolean;
  disabled?: boolean;
  debounce?: boolean;
}
interface Emits {
  (e: "update:modelValue", value: any): void;
  (e: "input", value: any): void;
  (e: "blur", value: any): void;
  (e: "focus", value: any): void;
}

const props = withDefaults(defineProps<Props>(), {
  label: undefined,
  type: "text",
  placeholder: "",
  disabled: false,
  errors: () => [] as Array<any>,
});
const emits = defineEmits<Emits>();

const debounceTimeout = ref<any>(null);
const isFocused = ref(false);

const handleInput = (e: any) => {
  if (!props.debounce) {
    emits("update:modelValue", e.target.value);
    emits("input", e.target.value);
    return;
  }

  if (debounceTimeout.value) {
    clearTimeout(debounceTimeout.value);
  }

  debounceTimeout.value = setTimeout(() => {
    emits("update:modelValue", e.target.value);
    emits("input", e.target.value);
  }, 500);
};

const handleBlur = (e: any) => {
  isFocused.value = false;
  emits("blur", e);
};

const handleFocus = (e: any) => {
  isFocused.value = true;
};
</script>

<style>
.a-input input::placeholder {
  transition: opacity 0.4s 0.3s; /* Adding delay to placeholder transition */
}
</style>
