<!-- components/BackgroundPages.vue -->
<template>
  <div
    class="fixed inset-0 bg-pages bg-center bg-cover bg-no-repeat h-full w-full opacity-10"
  ></div>
  <div class="absolute inset-0 bg-dark bg-opacity-60"></div>
</template>

<script lang="ts" setup></script>
