<!-- components/Footer.vue -->
<template>
  <footer class="w-full bg-neutral">
    <nav class="pb-2">
      <ul class="flex justify-between items-center py-2">
        <li v-for="link in footerLinks" :key="link.label">
          <NuxtLink
            :to="link.to"
            class="flex flex-col items-center text-sm text-non-selected"
          >
            <Icon
              :name="isActiveLink(link.to) ? link.activeIcon : link.icon"
              :class="[
                'pb-[-4px] h-8 w-8',
                isActiveLink(link.to) ? link.activeClass : 'text-non-selected',
              ]"
            />
            <span :class="{ 'text-light': isActiveLink(link.to) }">
              {{ link.label }}
            </span>
          </NuxtLink>
        </li>
      </ul>
    </nav>
    <span class="flex justify-center text-xs pb-2 text-non-selected"
      >© 2024 LPNM. Tous droits réservés.</span
    >
  </footer>
</template>
<script lang="ts" setup>
import { useRoute } from "vue-router";

interface FooterLink {
  label: string;
  to: string;
  icon: string;
  activeIcon: string;
  activeClass: string;
}

const route = useRoute();

// Utilisation de useState pour gérer l'état de footerLinks
const footerLinks = useState<FooterLink[]>("footerLinks", () => [
  {
    label: "Accueil",
    to: "/",
    icon: "i-material-symbols-light-house-outline-rounded",
    activeIcon: "i-material-symbols-light-house-rounded",
    activeClass: "text-primary",
  },
  {
    label: "Favoris",
    to: "/favorites",
    icon: "i-material-symbols-light-favorite-outline-rounded",
    activeIcon: "i-material-symbols-light-favorite-rounded",
    activeClass: "text-like",
  },
  {
    label: "Mes thèmes",
    to: "/themes",
    icon: "i-material-symbols-light-cards-outline-rounded",
    activeIcon: "i-material-symbols-light-cards-rounded",
    activeClass: "text-accent",
  },
  {
    label: "Profil",
    to: "/profile",
    icon: "i-material-symbols-light-account-circle-outline",
    activeIcon: "i-material-symbols-light-account-circle",
    activeClass: "text-light",
  },
]);

const isActiveLink = (linkTo: string) => {
  return route.path === linkTo;
};
</script>
