<!-- components/Header.vue -->
<template>
  <header class="absolute inset-0">
    <div class="h-32 bg-header-banner bg-center"></div>
    <div class="px-6">
      <h1>{{ headerTitle }}</h1>
      <SortList v-if="showSortList" class="pt-4" />
    </div>
  </header>
</template>

<script lang="ts" setup>
import SortList from "@/components/SortList.vue";

const route = useRoute();
const showSortList = ref(true);
const headerTitle = ref("");

watchEffect(() => {
  showSortList.value = !route.path.includes("/profile");

  // Définir le titre de l'en-tête en fonction de la route
  switch (route.name) {
    case "favorites":
      headerTitle.value = "Mes favoris";
      break;
    case "themes":
      headerTitle.value = "Mes thèmes";
      break;
    case "profile":
      headerTitle.value = "Mon profil";
      break;
    default:
      headerTitle.value = "Bienvenue sur LPNM";
      break;
  }
});
</script>
