<template>
  <div class="sort-buttons flex gap-4">
    <button
      v-for="option in options"
      class="rounded-full border border-custom-accent px-4 py-2 text-light hover:bg-accent"
      :key="option.value"
      @click="sortItems(option.value)"
    >
      {{ option.label }}
    </button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      options: [
        { label: "Tous", value: "Tous" },
        { label: "Nom", value: "Nom" },
        { label: "Date", value: "Date" },
        { label: "Popularité", value: "Popularité" },
      ],
      items: [
        { name: "Disney", date: "2023-01-01", popularity: 5 },
        { name: "Marvel", date: "2023-02-01", popularity: 4 },
        { name: "Harry Potter", date: "2023-03-01", popularity: 3 },
        { name: "Séries TV", date: "2023-04-01", popularity: 5 },
        { name: "Personnages historiques", date: "2023-05-01", popularity: 2 },
      ],
      sortedItems: [],
    };
  },
  mounted() {
    this.sortedItems = [...this.items];
  },
  methods: {
    sortItems(sortBy) {
      switch (sortBy) {
        case "Tous":
          this.sortedItems = [...this.items];
          break;
        case "Nom":
          this.sortedItems = this.items
            .slice()
            .sort((a, b) => a.name.localeCompare(b.name));
          break;
        case "Date":
          this.sortedItems = this.items
            .slice()
            .sort((a, b) => new Date(a.date) - new Date(b.date));
          break;
        case "Popularité":
          this.sortedItems = this.items
            .slice()
            .sort((a, b) => b.popularity - a.popularity);
          break;
      }
    },
  },
};
</script>
