<template>
  <div :class="sortListClass">
    <span class="text-sm">Trier par</span>
    <div class="pt-1 sort-buttons flex gap-4">
      <select
        class="select select-bordered select-sm select-primary max-w-xs bg-neutral-dark"
        v-model="selectedOption"
        @change="sortItems(selectedOption)"
      >
        <option
          v-for="option in options"
          :key="option.value"
          :value="option.value"
        >
          {{ option.label }}
        </option>
      </select>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, computed } from "vue";

// Définir les props
const props = defineProps<{ class?: string }>();

// Data properties
const options = ref([
  { label: "Tous", value: "Tous" },
  { label: "Nom", value: "Nom" },
  { label: "Date", value: "Date" },
  { label: "Popularité", value: "Popularité" },
]);

const items = ref([
  { name: "Disney", date: "2023-01-01", popularity: 5 },
  { name: "Marvel", date: "2023-02-01", popularity: 4 },
  { name: "Harry Potter", date: "2023-03-01", popularity: 3 },
  { name: "Séries TV", date: "2023-04-01", popularity: 5 },
  { name: "Personnages historiques", date: "2023-05-01", popularity: 2 },
]);

const sortedItems = ref([...items.value]);
const selectedOption = ref("Tous");

// Computed properties
const sortListClass = computed(() => props.class || "");

// Methods
const sortItems = (sortBy: string) => {
  switch (sortBy) {
    case "Tous":
      sortedItems.value = [...items.value];
      break;
    case "Nom":
      sortedItems.value = items.value
        .slice()
        .sort((a, b) => a.name.localeCompare(b.name));
      break;
    case "Date":
      sortedItems.value = items.value
        .slice()
        .sort(
          (a, b) => new Date(a.date).getTime() - new Date(b.date).getTime()
        );
      break;
    case "Popularité":
      sortedItems.value = items.value
        .slice()
        .sort((a, b) => b.popularity - a.popularity);
      break;
  }
};

// Appel initial pour trier les éléments
sortItems("Tous");
</script>

<style scoped>
/* Ajoutez vos styles ici si nécessaire */
</style>
